*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.formulario{
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form{
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

form input{
    width: 80%;
}

form button{
    width: 80%;
}